.container {
  width: 584px;
  border-radius: 40px;
  background: var(--interface-modal-bg, #1C1C21);
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wide {
  width: 844px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.extra {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 4px solid #6b2dd0;
  margin-right: -15px;
  background-color: #131316;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.extra::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  background-color: rgba(19, 19, 22, 0.8);
  border-radius: 50%;
  z-index: 0;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ingredients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
}

.blue {
  color: #00CCCC;
}

.red {
  color: red;
}