.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 88px - 40px);
}

.title {
  margin-top: 180px;
}

.form {
  border: 1px solid white;
  width: 480px;
  height: fit-content;
}