.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 88px - 40px);
}

.title {
  margin-top: 180px;
  line-height: 30px; 
}

.form {
  width: 480px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}