.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 320px;
  position: absolute;
  top: 120px;
  left: 0;
}

.link {
  line-height: 64px;
  color: var(--text-dark-grey-secondary-text, #8585AD);
  text-decoration: none;
}

.active {
  color: var(--text-primary-light-standart-text, #F2F2F3);
}

.button {
  background-color: transparent;
  border: none;
  color: var(--text-dark-grey-secondary-text, #8585AD);
  line-height: 64px;
  text-align: left;
}

.button:hover {
  cursor: pointer;
}

.text {
  line-height: 24px;
  color: var(--text-dark-grey-secondary-text, #8585AD);
}