.page {
  background-color: var(--interface-bg, #131316);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 1256px;
  display: flex;
  justify-content: space-between;
}