.menu {
  width: 1300px;
  height: 56px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
