.link {
  border-radius: 40px;
  width: 178px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
}

.name {
  color: var(--text-dark-grey-secondary-text, #8585AD);
  line-height: 24px;
}

.right {
  -ms-grid-column-align: end;
  justify-self: end;
}

.white {
  color: white;
}