.container {
  border-radius: 40px;
  border: 1px dashed var(--interface-accent, #4C4CFF);
  width: 178px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  color: var(--text-dark-grey-secondary-text, #8585AD);
}

.right {
  justify-self: end;
}