.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  line-height: 24px;
  color: var(--text-dark-grey-secondary-text, #8585AD);
}

.value {
  color: var(--text-dark-grey-secondary-text, #8585AD);
}