.container {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: relative;
  border: 4px solid #6b2dd0;
  margin-right: -15px;
  background-color: #131316;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 90px;
  height: 45px;
}